upstream @upstream_{{ pj_name }} {
{% if nginx_pj_upstream_hostnum | int > 0 %}
{% for num in range(1, nginx_pj_upstream_hostnum | int + 1) %}
  server {{ pj_name }}{{ num }}:9000;
{% endfor %}
{% else %}
  server {{ pj_name }}:9000;
{% endif %}
}

server {
  listen 80;
  server_name _;

  root {{ nginx_pj_root }};

{% if nginx_s3_upload_file_path != "" %}
  include /etc/nginx/conf.d/location/s3upload.conf;
{% endif %}

  location / {
    try_files $uri $uri/ @{{ pj_name }};
  }

  location @{{ pj_name }} {
    include /etc/nginx/conf.d/location/fileupload.conf;

    proxy_pass http://@upstream_{{ pj_name }};
  }
}
