Alias /{{ app_name }}/media /product/{{ app_name }}_media

<Directory /product/{{ app_name }}_media>
    LimitRequestBody 102400
    Options FollowSymLinks
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>
