<VirtualHost *:{{ apache_port }}>
Include conf.d/{{ app_name }}/{{ app_name }}_media.conf
{% for app_branch in app_branches %}
Include conf.d/{{ app_name }}/{{ app_branch }}.conf
{% endfor %}
Include conf.d/{{ app_name }}/{{ app_name }}_admin.conf
</VirtualHost>
